.videoback{
    height: 70vh;
    background-image: linear-gradient(1800deg, rgba(0,0,0,0.7786764363948704) 77%, rgba(0,0,0,0.6666316184676996) 100%),url("https://wallpapercave.com/wp/wp7111654.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 400px;
    position: relative;
}